:root {
    --background-color: #c9c6c6;
    --background-header: #257fbf;
    --backgroundcolor-section: #c2bebe;
    --backgroundcolor-main: #257fbf;
    --backgroundcolor-menu: #4fc3f7;
    --backgroundcolor-ahover: #0288d1;
    --backgroundcolor-h4: #729cd0;
    --box-shadow: #b0a9a9;
    --color: #000;
    --color-header: #d1cfcf;
    --border-main: #3d3a3a;
    --a-hover: #00c9fb;
    --a-main: #000000;
    --color-a-main: #7d7474;
}

body {
    background-color: var(--background-color);
    font-family:sans-serif ;
    
}

main {
    margin: 50px;
}

header, footer {
    text-align: center;
    background-color: var(--background-header) ;
    color: var(--color-header);
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-header);
    display: inline-block;
    margin-right: 15px;
    
}

a:hover {
    color: var(--a-hover);
}

.a-main {
    color: var(--a-main);
}

li {
    list-style: none;
}

section {

 
    align-items: center;
    max-width: 100%;
    background-color: var(--backgroundcolor-section);
    
}

h2 {
    text-align: center;
    background-color: var(--backgroundcolor-main);
}

h4 {
    text-align: center;
    background-color: var(--backgroundcolor-h4);
}

img {
    height: 300px;
    width: 470px;
    border-radius: 6px;
    box-shadow: 6px 6px  10px rgb(116, 115, 115);

    
}

.a {
    color: var(--color-a-main);
}

/* Menu lateral*/

.menu {
    width: 220px;
    background-color: var(--backgroundcolor-menu);
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.menu h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;

}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    transition: background 0.3s;
}

.menu a:hover {
    background-color: var(--backgroundcolor-ahover);
}

/* RODAPÉ */

.p {
   font-size: 13px; 
}

a {
    color: var(--color-header);
}

/* NOTICIAS */

.p-legenda {
    font-size: 13px
}

.margin-main {
    padding: 13px;
}

.center-img {
    text-align: center;
}

